<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="http://cdn.drore.com/cdn/less/reset.min.css" />
    <link rel="stylesheet" href="/css/service.css?v=66bb32294f" />
    <title>在线投诉-台州府城</title>
</head>
<body>
{{include './public/head.html'}}
<div class="crumb">
    <div class="wrapper">
        <a href="/">首页</a> >
        <a href="/advice/page/1">咨询投诉</a> >
        <a href="/onlineComplaint">在线投诉</a>
    </div>
</div>
<div class="service-wrapper">
    <div class="wrapper">
        <h1 class="title"><img src="img/online.png" alt=""></h1>
        <p class="complaint-bar">
            <span><a href="/advice/page/1">问题咨询</a></span> |
            <span><a href="/tousuxuzhi">投诉须知</a></span> |
            <span class="active"><a href="/onlineComplaint">在线投诉</a></span>
        </p>
        <div class="complaint-form">
            <form id="complaintForm">
                <ul>
                    <li>
                        <label for="username"><em>*</em> 姓名：</label>
                        <input type="text" id="username" placeholder="请输入姓名" nullmsg="请输入姓名" value="" datatype="*" name="username" />
                    </li>
                    <li>
                        <label for="username">性别：</label>
                        <select name="sex" id="sex">
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </li>
                    <li>
                        <label for="email"><em>*</em> 邮箱：</label>
                        <input type="text" id="email" placeholder="请输入您的邮箱" nullmsg="请输入您的邮箱" value="" datatype="e" name="email" />
                    </li>
                    <li>
                        <label for="tel"><em>*</em> 联系电话：</label>
                        <input type="text" id="tel" placeholder="请输入您的联系电话" nullmsg="请输入您的联系电话" value="" datatype="m" name="tel" />
                    </li>
                    <li class="ml110">
                        <label for="title"><em>*</em> 标题：</label>
                        <input type="text" id="title" class="input-txt" datatype="*" placeholder="请输入您遇到的问题" name="title" value="" nullmsg="请输入您遇到的问题" />
                        <span class="Validform_checktip "></span>
                    </li>
                    <li class="ml110">
                        <label for="username"><em>*</em> 事件说明：</label>
                        <textarea name="content" id="content" class="textarea" datatype="*" nullmsg="请详细描述您的问题，描述的越详尽，越容易被尽快解决" placeholder="请详细描述您的问题，描述的越详尽，越容易被尽快解决" ></textarea>
                        <span class="Validform_checktip"></span>
                    </li>
                    <li>
                        <input type="button" id="J-question-btn" class="question-btn" value="发表" />
                    </li>
                </ul>
            </form>
        </div>
        <div class="service_tel">
            <img src="/img/service_tel.jpg" alt="" />
        </div>
    </div>
</div>
{{include './public/foot.html'}}
<script type="text/javascript" src="/js/lib/validform.js?v=4aa658f13a"></script>
<script type="text/javascript" src="/js/lib/layer/layer.js?v=a1f2307bc7"></script>
<script type="text/javascript">
    $(function () {
        var val = $("#complaintForm").Validform({
           tiptype:3,
            ajaxPost:true,
            showAllError:true,
            beforeSubmit:function (form) {
               var name = $.trim($("#username").val()),
                   sex = $("#sex").val(),
                   email = $.trim($("#email").val()),
                   tel = $.trim($("#tel").val()),
                   title = $.trim($("#title").val()),
                   content = $.trim($("#content").val()),
                   nationality = "",
                   provice = "浙江",
                   city = "台州";
               $.ajax({
                   url:'/submitComplaint',
                   type: 'POST',
                   data:{
                       name: name,
                       sex: sex,
                       email: email,
                       tel: tel,
                       title: title,
                       content: content
                   },
                   success:function (data) {
                       if(data.success){
                           layer.msg('提交投诉成功！',function (msg) {
                               window.location.reload();
                           });
                       }
                   }
               });
                return false;
            }
        });

        $("#J-question-btn").click(function() {
            val.ajaxPost();
        });
    });
</script>
</body>
</html>