<div class="footer">
    <div class="wrapper">
        <div class="footer-left">
            <div class="site">
                <!--<a href="">景区概况</a> |
                <a href="">行程定制</a> |
                <a href="">在线预订</a> |
                <a href="">虚拟游</a>-->
            </div>
            <div class="copyright">
                <p>电话：0576-85158290</p>
                <p>地址：临海市巾山西路49号</p>
                <p>Copyright ©  2016 台州府城, All Rights Reserved.     设计/技术：浙江卓锐</p>
            </div>
        </div>
        <div class="footer-right">
            <div class="weibo">
                <!--<p>新浪微博：临海旅游投资开发有限公司</p>
                <p>
                    <a href="http://weibo.com/lhchangcheng?refer_flag=1001030102_&is_all=1" target="_blank">http://weibo.com/lhchangcheng?refer_flag=1001030102_&is_all=1</a>
                </p>-->
            </div>
            <div class="weixin">
                <img src="/img/qcode.jpg" alt="" />
                <p>微信公众号</p>
            </div>
        </div>
    </div>
</div>
<div class="adv">
    <img src="/img/advs.png" alt="" />
</div>
<script type="text/javascript" src="http://cdnnew.drore.com/cdntest/js/lib/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.SuperSlide.2.1.1.js?v=1cdb888543"></script>
<script type="text/javascript" src="/js/common.js?v=3cdcc5ec6f"></script>