<div class="header">
    <div class="wrapper">
        <h1 class="logo"><img src="/img/logo.png" alt="" /></h1>
        <nav class="navbar">
            <ul class="nav">
                <li class="navli {{if nav == 'home'}}on{{/if}}"><a href="/">首页</a></li>
                <li class="navli {{if nav == 'organization'}}on{{/if}}">
                    <h3>
                        <a href="/company">公司概况</a>
                        <i></i>
                    </h3>
                    <div class="subnav">
                        <ul>
                            <li><a href="/company">公司概况</a></li>
                            <li><a href="/organization">职能机构</a></li>
                        </ul>
                    </div>
                </li>
                <li class="navli {{if nav == 'news'}}on{{/if}}">
                    <h3>
                        <a href="/news/all/page/1">新闻中心</a>
                        <i></i>
                    </h3>
                    <div class="subnav">
                        <ul>
                            <li><a href="/news/zwdt/page/1">政务动态</a></li>
                            <li><a href="/news/hyxw/page/1">行业动态</a></li>
                            <li><a href="/news/tzgg/page/1">通知公告</a></li>
                        </ul>
                    </div>
                </li>
                <li class="navli">
                    <h3><a href="/bszn">办事指南</a></h3>
                </li>
                <li class="navli {{if nav == 'advice'}}on{{/if}}">
                    <h3>
                        <a href="/advice/page/1">咨询投诉</a>
                        <i></i>

                    </h3>
                    <div class="subnav">
                        <ul>
                            <li><a href="/advice/page/1">问题咨询</a></li>
                            <li><a href="/onlineComplaint">在线投诉</a></li>
                            <li><a href="/tousuxuzhi">投诉须知</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>